<strong>Seja bem vindo(a), {{student.name}}</strong>
<br />
<br />
<strong>Detalhes do seu plano:</strong><br />
<strong>Nome: </strong>{{plan.title}} <br />
<strong>Preço/mensal: </strong>R$ {{plan.price}},00 <br />
<strong>Duração: </strong>{{plan.duration}} meses <br />
<strong>Data de inscrição: </strong>{{date_registration}}<br />
<br />
<p>Fique atento suas aulas iniciam em {{start_date}}</p>
